# Imports

In [1]:
from sqlalchemy import create_engine
from config import USERNAME, PASSWORD, HOST_PORT, DB_NAME
import psycopg2
import io
import pandas as pd

In [2]:
# create sqlalchemy engine for uploading data to postgresql db
engine = create_engine(f"postgresql+psycopg2://{USERNAME}:{PASSWORD}@localhost:{HOST_PORT}/{DB_NAME}")

# Data

In [3]:
# read in foodnetwork data
data = pd.read_pickle("./data/foodnetwork_recipes.pkl")

In [4]:
data.head().transpose()

,0,1,2,3,4
aggregateRating,"{'@type': 'AggregateRating', 'ratingValue': 4....","{'@type': 'AggregateRating', 'ratingValue': 4....","{'@type': 'AggregateRating', 'ratingValue': 4....","{'@type': 'AggregateRating', 'ratingValue': 4....","{'@type': 'AggregateRating', 'ratingValue': 4...."
author,"[{'@type': 'Person', 'name': 'Paula Deen', 'ur...","[{'@type': 'Person', 'name': 'Paula Deen', 'ur...","[{'@type': 'Person', 'name': 'Paula Deen', 'ur...","[{'@type': 'Person', 'name': 'Paula Deen', 'ur...","[{'@type': 'Person', 'name': 'Giada De Laurent..."
name,Baked French Toast Casserole with Maple Syrup,Not Yo' Mama's Banana Pudding,Pumpkin Gooey Butter Cakes,Corn Casserole,Roman-Style Chicken
recipeCategory,dessert,dessert,dessert,side-dish,main-dish
recipeCuisine,american,american,american,american,european
recipeIngredient,"[1 loaf French bread (13 to 16 ounces), 8 larg...","[1 (14-ounce) can sweetened condensed milk, 1 ...","[1 (18 1/4-ounce) package yellow cake mix, 1 e...","[1 (15 1/4-ounce) can whole kernel corn, drain...","[4 skinless chicken breast halves, with ribs, ..."
recipeInstructions,"[{'@type': 'HowToStep', 'text': 'Slice French ...","[{'@type': 'HowToStep', 'text': 'Line the bott...","[{'@type': 'HowToStep', 'text': 'Preheat oven ...","[{'@type': 'HowToStep', 'text': 'Preheat oven ...","[{'@type': 'HowToStep', 'text': 'Season the ch..."
recipeYield,6 to 8 servings,12 servings,6 to 8 servings,6 to 8 servings,6 servings
review,"[{'@type': 'Review', 'author': {'@type': 'Pers...","[{'@type': 'Review', 'author': {'@type': 'Pers...","[{'@type': 'Review', 'author': {'@type': 'Pers...","[{'@type': 'Review', 'author': {'@type': 'Pers...","[{'@type': 'Review', 'author': {'@type': 'Pers..."
totalTime,9:00:00,0:30:00,1:20:00,1:08:00,1:00:00
ratingValue,4.5,4.9,4.8,4.7,4.6
reviewCount,2513,2171,2157,1689,1306
cook,Paula Deen,Paula Deen,Paula Deen,Paula Deen,Giada De Laurentiis
reviewBody1,I read a lot of the reviews about the saugines...,I have been making this for work potlucks for ...,How should this be stored? Is it safe to leave...,ok i am a newby... if i am to double this reci...,Love this!! Tastes like my mom’s chicken cacc...
reviewer1,emsjas,malavinder,Anonymous,Mimi M.,tristaneff
ratingValue1,5,5,5,4.7,5
reviewBody2,I let this sit in the fridge every Christmas E...,I have made this several times. I have an alte...,Quite possibly the best thing I’ve ever eaten!...,how long do you cook it if you double the reci...,An outstanding authentic Italian tasting gourm...
reviewer2,lwasnewski,knightswhosaynih,Rachel Spencer,Anonymous,dbrent1803515365
ratingValue2,5,5,5,4.7,5
reviewBody3,I've made this twice now and here's how I like...,I love this recipe. I have been making it for ...,I love this!!!! I've made it the last 6 years....,My son is a vegetarian and he and my husband b...,AWSOME dish. The only thing I did different is...
reviewer3,Liliana C.,Anonymous,Anonymous,Anonymous,Joe Kuhns
ratingValue3,4,5,5,5,5
reviewBody4,For everyone who states it comes out soggy. Re...,Absolutely delicious and fun to make with my w...,"I've made these 4 times now. Every time, peopl...","I have made this for many years, always doubli...",The sauce is so tasty I could drink it and the...
reviewer4,deedee21,Greg H.,Norah,Regina,MartaR.
ratingValue4,5,5,4.8,5,5
reviewBody5,I made this same-day and found it to be perfec...,I made Paula's banana pudding a few years back...,I make this every year. DEFINITELY reduce the ...,To those of you that can't get the butter thin...,Made this and sent leftovers to my Italian fat...
reviewer5,Anonymous,Claire S.,Susan T.,Anonymous,Bertha P.
ratingValue5,5,5,5,4.7,5
reviewBody6,I’d like to make this but I have a question. H...,Someone brought this to a potluck at work and ...,We don't even make pumpkin pie anymore since I...,I made this last year as one of my Thanksgivin...,I cannot say enough about this recipe. I made...
reviewer6,Anonymous,Beth J.,elaine16127,Wendy S.,glory m.
ratingValue6,5,5,5,5,4.6
reviewBody7,"I made crispy maple bacon, cut it up then adde...",I've made this several times. I like to use fr...,Delicious! Been making this for Thanksgiving f...,My daughter made for Thanksgiving except we ad...,"This was delicious, everyone loved it! I did a..."
reviewer7,justin b.,Anonymous,Lisa F.,Anonymous,Barbara W.
ratingValue7,5,4.9,5,4,5
reviewBody8,Thanks for everyone's reviews bc your suggesti...,Must try.. But I must add this lil note. When ...,What type of pan do you use? Glass or aluminum?,Just made this for Thanksgiving. I doubled the...,Delicious! and super easy. Used dried herbs as...
reviewer8,Anonymous,Anonymous,Anonymous,Robin W.,trail_jogger
ratingValue8,5,4.9,4.8,5,5
reviewBody9,This has become a Christmas Brunch tradition a...,I made this banana pudding . found the same re...,It would be nice to have the actual recipe for...,How long would I have to cook it if I wanted t...,This is always a hit with everyone. I've been ...
reviewer9,tkrepps1,Anonymous,Anonymous,Trudy O.,null
ratingValue9,5,5,4.8,4.7,4.6
reviewBody10,"The first time I made this, it came out SO sog...",How well will this dessert stay? I want to mak...,I’ve made this the past few years and it’s alw...,"Made this for Thanksgiving, Everyone loved it,...",Beyond delicious. I've made this dish several ...
reviewer10,MEKLA07,Anonymous,teresa t.,Anonymous,ccbb
ratingValue10,4,4.9,5,5,5
steps,"[Slice French bread into 20 slices, 1-inch eac...",[Line the bottom of a 13 by 9 by 2-inch dish w...,"[Preheat oven to 350 degrees F., Combine the c...","[Preheat oven to 350 degrees F., In a large bo...",[Season the chicken with 1/2 teaspoon salt and...

In [5]:
# drop unnecessary columns
data.drop(["aggregateRating", "author", "recipeInstructions", "review"], axis=1, inplace=True)

In [6]:
# check columns
data.columns

Index(['name', 'recipeCategory', 'recipeCuisine', 'recipeIngredient',
       'recipeYield', 'totalTime', 'ratingValue', 'reviewCount', 'cook',
       'reviewBody1', 'reviewer1', 'ratingValue1', 'reviewBody2', 'reviewer2',
       'ratingValue2', 'reviewBody3', 'reviewer3', 'ratingValue3',
       'reviewBody4', 'reviewer4', 'ratingValue4', 'reviewBody5', 'reviewer5',
       'ratingValue5', 'reviewBody6', 'reviewer6', 'ratingValue6',
       'reviewBody7', 'reviewer7', 'ratingValue7', 'reviewBody8', 'reviewer8',
       'ratingValue8', 'reviewBody9', 'reviewer9', 'ratingValue9',
       'reviewBody10', 'reviewer10', 'ratingValue10', 'steps'],
      dtype='object')

In [7]:
data.head()

,name,recipeCategory,recipeCuisine,recipeIngredient,recipeYield,totalTime,ratingValue,reviewCount,cook,reviewBody1,...,reviewBody8,reviewer8,ratingValue8,reviewBody9,reviewer9,ratingValue9,reviewBody10,reviewer10,ratingValue10,steps
0,Baked French Toast Casserole with Maple Syrup,dessert,american,"[1 loaf French bread (13 to 16 ounces), 8 larg...",6 to 8 servings,9:00:00,4.5,2513.0,Paula Deen,I read a lot of the reviews about the saugines...,...,Thanks for everyone's reviews bc your suggesti...,Anonymous,5.0,This has become a Christmas Brunch tradition a...,tkrepps1,5.0,"The first time I made this, it came out SO sog...",MEKLA07,4.0,"[Slice French bread into 20 slices, 1-inch eac..."
1,Not Yo' Mama's Banana Pudding,dessert,american,"[1 (14-ounce) can sweetened condensed milk, 1 ...",12 servings,0:30:00,4.9,2171.0,Paula Deen,I have been making this for work potlucks for ...,...,Must try.. But I must add this lil note. When ...,Anonymous,4.9,I made this banana pudding . found the same re...,Anonymous,5.0,How well will this dessert stay? I want to mak...,Anonymous,4.9,[Line the bottom of a 13 by 9 by 2-inch dish w...
2,Pumpkin Gooey Butter Cakes,dessert,american,"[1 (18 1/4-ounce) package yellow cake mix, 1 e...",6 to 8 servings,1:20:00,4.8,2157.0,Paula Deen,How should this be stored? Is it safe to leave...,...,What type of pan do you use? Glass or aluminum?,Anonymous,4.8,It would be nice to have the actual recipe for...,Anonymous,4.8,I’ve made this the past few years and it’s alw...,teresa t.,5.0,"[Preheat oven to 350 degrees F., Combine the c..."
3,Corn Casserole,side-dish,american,"[1 (15 1/4-ounce) can whole kernel corn, drain...",6 to 8 servings,1:08:00,4.7,1689.0,Paula Deen,ok i am a newby... if i am to double this reci...,...,Just made this for Thanksgiving. I doubled the...,Robin W.,5.0,How long would I have to cook it if I wanted t...,Trudy O.,4.7,"Made this for Thanksgiving, Everyone loved it,...",Anonymous,5.0,"[Preheat oven to 350 degrees F., In a large bo..."
4,Roman-Style Chicken,main-dish,european,"[4 skinless chicken breast halves, with ribs, ...",6 servings,1:00:00,4.6,1306.0,Giada De Laurentiis,Love this!! Tastes like my mom’s chicken cacc...,...,Delicious! and super easy. Used dried herbs as...,trail_jogger,5.0,This is always a hit with everyone. I've been ...,null,4.6,Beyond delicious. I've made this dish several ...,ccbb,5.0,[Season the chicken with 1/2 teaspoon salt and...

# SQL Insert

## Users Table Insert

In [8]:
# split dataframe into a users table
users = pd.DataFrame(data.cook)

In [9]:
users.head()

                  cook
0           Paula Deen
1           Paula Deen
2           Paula Deen
3           Paula Deen
4  Giada De Laurentiis

In [20]:
users.rename({"cook":"user_name"}, axis=1, inplace=True)

In [28]:
users.drop_duplicates(inplace=True)

In [29]:
users.head()

              user_name
0            Paula Deen
4   Giada De Laurentiis
6           Alton Brown
7            Ina Garten
16       Tyler Florence

In [30]:
# write to postgresql db users table
users.user_name.to_sql(name="users", con=engine, schema="food", if_exists="append", index=False)

In [31]:
# read in data from users table to obtain user_ids for next insert
user_ids = pd.read_sql_query('SELECT * FROM food.users;', con=engine)

In [39]:
user_ids.head()

   user_id            user_name
0        1           Paula Deen
1        2  Giada De Laurentiis
2        3          Alton Brown
3        4           Ina Garten
4        5       Tyler Florence

## Recipes Table Insert

In [65]:
# split out data for recipes table insert
recipes = data[["name", "recipeYield", "totalTime", "ratingValue", "reviewCount", "cook"]]

In [66]:
recipes.head()

,name,recipeYield,totalTime,ratingValue,reviewCount,cook
0,Baked French Toast Casserole with Maple Syrup,6 to 8 servings,9:00:00,4.5,2513.0,Paula Deen
1,Not Yo' Mama's Banana Pudding,12 servings,0:30:00,4.9,2171.0,Paula Deen
2,Pumpkin Gooey Butter Cakes,6 to 8 servings,1:20:00,4.8,2157.0,Paula Deen
3,Corn Casserole,6 to 8 servings,1:08:00,4.7,1689.0,Paula Deen
4,Roman-Style Chicken,6 servings,1:00:00,4.6,1306.0,Giada De Laurentiis

In [67]:
# merge user_ids into recipes table 
recipes_users = recipes.merge(user_ids, left_on="cook", right_on="user_name", how="left")

In [68]:
recipes_users.head()

,name,recipeYield,totalTime,ratingValue,reviewCount,cook,user_id,user_name
0,Baked French Toast Casserole with Maple Syrup,6 to 8 servings,9:00:00,4.5,2513.0,Paula Deen,1,Paula Deen
1,Not Yo' Mama's Banana Pudding,12 servings,0:30:00,4.9,2171.0,Paula Deen,1,Paula Deen
2,Pumpkin Gooey Butter Cakes,6 to 8 servings,1:20:00,4.8,2157.0,Paula Deen,1,Paula Deen
3,Corn Casserole,6 to 8 servings,1:08:00,4.7,1689.0,Paula Deen,1,Paula Deen
4,Roman-Style Chicken,6 servings,1:00:00,4.6,1306.0,Giada De Laurentiis,2,Giada De Laurentiis

In [69]:
recipes_users.tail()

,name,recipeYield,totalTime,ratingValue,reviewCount,cook,user_id,user_name
6647,"Pat's Potato Pierogis ""Elegante""",about 30 pierogis,1:25:00,4.7,13.0,Unknown,8,Unknown
6648,Egg Baked in Acorn Squash,4 servings,0:55:00,5.0,12.0,Katie Lee,49,Katie Lee
6649,Grilled French Bread Pizza with Mushroom Pesto...,2 to 4 servings,1:05:00,4.6,13.0,Bobby Flay,17,Bobby Flay
6650,The Perfect Boiled Eggs,1 dozen eggs,0:35:00,4.9,13.0,Unknown,8,Unknown
6651,Fruit Cobbler,6 servings,0:40:00,4.9,13.0,Jamie Oliver,45,Jamie Oliver

In [70]:
# check null values to make sure merge was successful
recipes_users.isnull().sum()

name           0
recipeYield    0
totalTime      0
ratingValue    0
reviewCount    0
cook           0
user_id        0
user_name      0
dtype: int64

In [71]:
# drop user_name column
recipes_users.drop("user_name", axis=1, inplace=True)

In [72]:
recipes_users.head()

,name,recipeYield,totalTime,ratingValue,reviewCount,cook,user_id
0,Baked French Toast Casserole with Maple Syrup,6 to 8 servings,9:00:00,4.5,2513.0,Paula Deen,1
1,Not Yo' Mama's Banana Pudding,12 servings,0:30:00,4.9,2171.0,Paula Deen,1
2,Pumpkin Gooey Butter Cakes,6 to 8 servings,1:20:00,4.8,2157.0,Paula Deen,1
3,Corn Casserole,6 to 8 servings,1:08:00,4.7,1689.0,Paula Deen,1
4,Roman-Style Chicken,6 servings,1:00:00,4.6,1306.0,Giada De Laurentiis,2

In [73]:
# rename columns to match the recipe table names
recipes_users = recipes_users.rename({"name":"title", "totalTime":"time", "recipeYield":"yield", "reviewCount":"review_count"}, axis=1)

In [74]:
recipes_users.head()

,title,yield,time,ratingValue,review_count,cook,user_id
0,Baked French Toast Casserole with Maple Syrup,6 to 8 servings,9:00:00,4.5,2513.0,Paula Deen,1
1,Not Yo' Mama's Banana Pudding,12 servings,0:30:00,4.9,2171.0,Paula Deen,1
2,Pumpkin Gooey Butter Cakes,6 to 8 servings,1:20:00,4.8,2157.0,Paula Deen,1
3,Corn Casserole,6 to 8 servings,1:08:00,4.7,1689.0,Paula Deen,1
4,Roman-Style Chicken,6 servings,1:00:00,4.6,1306.0,Giada De Laurentiis,2

In [75]:
recipes_users.columns

Index(['title', 'yield', 'time', 'ratingValue', 'review_count', 'cook',
       'user_id'],
      dtype='object')

In [76]:
# rename rating column to match that of the recipes table
recipes_users.rename({"ratingValue":"total_rating"}, axis=1, inplace=True)

In [77]:
recipes_users.columns

Index(['title', 'yield', 'time', 'total_rating', 'review_count', 'cook',
       'user_id'],
      dtype='object')

In [83]:
# write to postgresql db recipes table
recipes_users[["title", "yield", "time", "total_rating", "review_count", "user_id"]].to_sql(name="recipes", con=engine, schema="food", if_exists="append", index=False)

In [84]:
# read back recipes table data to make sure insert ok and also to get recipe_ids
recipe_ids = pd.read_sql_query('SELECT * FROM food.recipes;', con=engine)

In [85]:
recipe_ids.head()

,recipe_id,title,time,total_rating,yield,user_id,review_count
0,1,Baked French Toast Casserole with Maple Syrup,9:00:00,4.5,6 to 8 servings,1,2513
1,2,Not Yo' Mama's Banana Pudding,0:30:00,4.9,12 servings,1,2171
2,3,Pumpkin Gooey Butter Cakes,1:20:00,4.8,6 to 8 servings,1,2157
3,4,Corn Casserole,1:08:00,4.7,6 to 8 servings,1,1689
4,5,Roman-Style Chicken,1:00:00,4.6,6 servings,2,1306

## Tags Table Insert

In [112]:
# split out data for tags table insert and rename column name to match sql tag table - cuisine
cuisine_tags = data[["recipeCuisine"]].reset_index(drop=True)

In [113]:
cuisine_tags.head()

  recipeCuisine
0      american
1      american
2      american
3      american
4      european

In [114]:
# drop duplicates
cuisine_tags.drop_duplicates(inplace=True)

In [115]:
cuisine_tags.head()

     recipeCuisine
0         american
4         european
16         mexican
36  jewish-cooking
41         italian

In [116]:
# assign tag type as cuisine
cuisine_tags["type_tag"] = "cuisine"

In [117]:
cuisine_tags.head()

     recipeCuisine type_tag
0         american  cuisine
4         european  cuisine
16         mexican  cuisine
36  jewish-cooking  cuisine
41         italian  cuisine

In [118]:
# rename column name to tag to match sql table
cuisine_tags.rename({"recipeCuisine":"tag"}, axis=1, inplace=True)

In [119]:
cuisine_tags.head()

               tag type_tag
0         american  cuisine
4         european  cuisine
16         mexican  cuisine
36  jewish-cooking  cuisine
41         italian  cuisine

In [131]:
cuisine_tags.shape

(23, 2)

In [120]:
# split out data for tags table insert and rename column name to match sql tag table - category
category_tags = data[["recipeCategory"]].reset_index(drop=True)

In [121]:
# drop duplicates
category_tags.drop_duplicates(inplace=True)

In [122]:
# assign tag type as category
category_tags["type_tag"] = "category"

In [123]:
category_tags.head()

   recipeCategory  type_tag
0         dessert  category
3       side-dish  category
4       main-dish  category
12      appetizer  category
30       american  category

In [125]:
# rename columns to match sql tags table
category_tags.rename({"recipeCategory":"tag"}, axis=1, inplace=True)

In [126]:
category_tags.head()

          tag  type_tag
0     dessert  category
3   side-dish  category
4   main-dish  category
12  appetizer  category
30   american  category

In [130]:
category_tags.shape

(22, 2)

In [127]:
# concat cuisine_tags and category_tags
tags = pd.concat([cuisine_tags, category_tags], axis=0, sort=False)

In [128]:
tags.head()

               tag type_tag
0         american  cuisine
4         european  cuisine
16         mexican  cuisine
36  jewish-cooking  cuisine
41         italian  cuisine

In [129]:
tags.shape

(45, 2)

In [132]:
# write to postgresql db tags table
tags[["tag", "type_tag"]].to_sql(name="tags", con=engine, schema="food", if_exists="append", index=False)

In [133]:
# read back tag table data to make sure insert ok and also to get tag_ids
tag_ids = pd.read_sql_query('SELECT * FROM food.tags;', con=engine)

In [134]:
tag_ids.head()

   tag_id             tag type_tag
0       1        american  cuisine
1       2        european  cuisine
2       3         mexican  cuisine
3       4  jewish-cooking  cuisine
4       5         italian  cuisine

## Recipes Tags Data Insert

In [151]:
recipe_ids.shape

(6652, 7)

In [152]:
data.shape

(6652, 40)

In [158]:
# concat cuisine and category to recipe_ids dataframe
recipes_cuisine_category = pd.concat([recipe_ids, data[["recipeCuisine", "recipeCategory"]]], axis=1)

In [159]:
recipes_cuisine_category.head()

,recipe_id,title,time,total_rating,yield,user_id,review_count,recipeCuisine,recipeCategory
0,1,Baked French Toast Casserole with Maple Syrup,9:00:00,4.5,6 to 8 servings,1,2513,american,dessert
1,2,Not Yo' Mama's Banana Pudding,0:30:00,4.9,12 servings,1,2171,american,dessert
2,3,Pumpkin Gooey Butter Cakes,1:20:00,4.8,6 to 8 servings,1,2157,american,dessert
3,4,Corn Casserole,1:08:00,4.7,6 to 8 servings,1,1689,american,side-dish
4,5,Roman-Style Chicken,1:00:00,4.6,6 servings,2,1306,european,main-dish

In [160]:
recipes_cuisine_category.tail()

,recipe_id,title,time,total_rating,yield,user_id,review_count,recipeCuisine,recipeCategory
6647,6648,"Pat's Potato Pierogis ""Elegante""",1:25:00,4.7,about 30 pierogis,8,13,european,main-dish
6648,6649,Egg Baked in Acorn Squash,0:55:00,5.0,4 servings,49,12,uncategorized,main-dish
6649,6650,Grilled French Bread Pizza with Mushroom Pesto...,1:05:00,4.6,2 to 4 servings,17,13,american,appetizer
6650,6651,The Perfect Boiled Eggs,0:35:00,4.9,1 dozen eggs,8,13,uncategorized,appetizer
6651,6652,Fruit Cobbler,0:40:00,4.9,6 servings,45,13,american,dessert

In [161]:
recipes_cuisine_category.shape

(6652, 9)

In [171]:
# merge tag_ids dataframe to recipes_tags dataframe - cuisine
recipes_tags1 = recipes_cuisine_category[["recipe_id", "title", "user_id", "recipeCuisine", "recipeCategory"]].merge(tag_ids, left_on="recipeCuisine", right_on="tag", how="left")

In [172]:
recipes_tags1.head()

,recipe_id,title,user_id,recipeCuisine,recipeCategory,tag_id,tag,type_tag
0,1,Baked French Toast Casserole with Maple Syrup,1,american,dessert,1,american,cuisine
1,1,Baked French Toast Casserole with Maple Syrup,1,american,dessert,28,american,category
2,2,Not Yo' Mama's Banana Pudding,1,american,dessert,1,american,cuisine
3,2,Not Yo' Mama's Banana Pudding,1,american,dessert,28,american,category
4,3,Pumpkin Gooey Butter Cakes,1,american,dessert,1,american,cuisine

In [173]:
recipes_tags1.shape

(13285, 8)

In [174]:
recipes_tags1.tail()

,recipe_id,title,user_id,recipeCuisine,recipeCategory,tag_id,tag,type_tag
13280,6650,Grilled French Bread Pizza with Mushroom Pesto...,17,american,appetizer,28,american,category
13281,6651,The Perfect Boiled Eggs,8,uncategorized,appetizer,6,uncategorized,cuisine
13282,6651,The Perfect Boiled Eggs,8,uncategorized,appetizer,33,uncategorized,category
13283,6652,Fruit Cobbler,45,american,dessert,1,american,cuisine
13284,6652,Fruit Cobbler,45,american,dessert,28,american,category

In [175]:
# merge tag_ids dataframe to recipes_tags dataframe - category
recipes_tags2 = recipes_cuisine_category[["recipe_id", "title", "user_id", "recipeCuisine", "recipeCategory"]].merge(tag_ids, left_on="recipeCategory", right_on="tag", how="left")

In [176]:
recipes_tags2.head()

,recipe_id,title,user_id,recipeCuisine,recipeCategory,tag_id,tag,type_tag
0,1,Baked French Toast Casserole with Maple Syrup,1,american,dessert,24,dessert,category
1,2,Not Yo' Mama's Banana Pudding,1,american,dessert,24,dessert,category
2,3,Pumpkin Gooey Butter Cakes,1,american,dessert,24,dessert,category
3,4,Corn Casserole,1,american,side-dish,25,side-dish,category
4,5,Roman-Style Chicken,2,european,main-dish,26,main-dish,category

In [177]:
recipes_tags2.shape

(7786, 8)

In [178]:
recipes_tags2.tail()

,recipe_id,title,user_id,recipeCuisine,recipeCategory,tag_id,tag,type_tag
7781,6648,"Pat's Potato Pierogis ""Elegante""",8,european,main-dish,26,main-dish,category
7782,6649,Egg Baked in Acorn Squash,49,uncategorized,main-dish,26,main-dish,category
7783,6650,Grilled French Bread Pizza with Mushroom Pesto...,17,american,appetizer,27,appetizer,category
7784,6651,The Perfect Boiled Eggs,8,uncategorized,appetizer,27,appetizer,category
7785,6652,Fruit Cobbler,45,american,dessert,24,dessert,category

In [179]:
# concat both merged recipe-tag dataframes
recipes_tags = pd.concat([recipes_tags1, recipes_tags2], axis=0)

In [180]:
recipes_tags.shape

(21071, 8)

In [181]:
# drop duplicates based on recipe_id and tag_id
recipes_tags.drop_duplicates(subset=["recipe_id", "tag_id"], inplace=True)

In [182]:
recipes_tags.shape

(18803, 8)

In [183]:
recipes_tags.head()

,recipe_id,title,user_id,recipeCuisine,recipeCategory,tag_id,tag,type_tag
0,1,Baked French Toast Casserole with Maple Syrup,1,american,dessert,1,american,cuisine
1,1,Baked French Toast Casserole with Maple Syrup,1,american,dessert,28,american,category
2,2,Not Yo' Mama's Banana Pudding,1,american,dessert,1,american,cuisine
3,2,Not Yo' Mama's Banana Pudding,1,american,dessert,28,american,category
4,3,Pumpkin Gooey Butter Cakes,1,american,dessert,1,american,cuisine

In [184]:
# write to postgresql db recipes_tags table
recipes_tags[["recipe_id", "tag_id"]].to_sql(name="recipes_tags", con=engine, schema="food", if_exists="append", index=False)

In [185]:
# read back recipes_tags table data to make sure insert ok
recipe_tag_ids = pd.read_sql_query('SELECT * FROM food.recipes_tags;', con=engine)

In [186]:
recipe_tag_ids.head()

   recipe_id  tag_id
0          1       1
1          1      28
2          2       1
3          2      28
4          3       1

## Steps Data Insert

In [215]:
# split out data for steps table
steps = pd.concat([recipe_ids, data["steps"]], axis=1)

In [216]:
steps.head()

,recipe_id,title,time,total_rating,yield,user_id,review_count,steps
0,1,Baked French Toast Casserole with Maple Syrup,9:00:00,4.5,6 to 8 servings,1,2513,"[Slice French bread into 20 slices, 1-inch eac..."
1,2,Not Yo' Mama's Banana Pudding,0:30:00,4.9,12 servings,1,2171,[Line the bottom of a 13 by 9 by 2-inch dish w...
2,3,Pumpkin Gooey Butter Cakes,1:20:00,4.8,6 to 8 servings,1,2157,"[Preheat oven to 350 degrees F., Combine the c..."
3,4,Corn Casserole,1:08:00,4.7,6 to 8 servings,1,1689,"[Preheat oven to 350 degrees F., In a large bo..."
4,5,Roman-Style Chicken,1:00:00,4.6,6 servings,2,1306,[Season the chicken with 1/2 teaspoon salt and...

In [217]:
steps.isnull().sum()

recipe_id       0
title           0
time            0
total_rating    0
yield           0
user_id         0
review_count    0
steps           3
dtype: int64

In [218]:
# fill null values in steps column with unknown
steps.loc[steps.steps.isnull()==True, "steps"] = "Unknown"

In [219]:
steps.isnull().sum()

recipe_id       0
title           0
time            0
total_rating    0
yield           0
user_id         0
review_count    0
steps           0
dtype: int64

In [220]:
steps.shape

(6652, 8)

In [221]:
# expand steps column into multiple rows with recipe_id assigned to it
steps_expand = pd.DataFrame(steps.steps.tolist(), index=steps.recipe_id).stack().reset_index(name="steps")[["steps","recipe_id"]]

In [222]:
steps_expand.shape

(26489, 2)

In [223]:
steps_expand.head()

                                               steps  recipe_id
0  Slice French bread into 20 slices, 1-inch each...          1
1       The next day, preheat oven to 350 degrees F.          1
2  Spread Praline Topping evenly over the bread a...          1
3  Combine all ingredients in a medium bowl and b...          1
4  Line the bottom of a 13 by 9 by 2-inch dish wi...          2

In [224]:
steps_expand.tail()

                                                   steps  recipe_id
26484  Brush the bread on the cut side with the remai...       6650
26485  Put the eggs in a large pot with a lid. Pour c...       6651
26486  Prepare a bowl of ice water. Transfer the cook...       6651
26487  Preheat the oven to 375 degrees F (190 degrees...       6652
26488  Meanwhile make the topping. Rub the cold butte...       6652

In [249]:
# assign step order to each step
for n in range(1, 6653):
    steps_expand.loc[steps_expand.recipe_id==n, "step_order"] = steps_expand[steps_expand.recipe_id==n].reset_index().index + 1

In [247]:
steps_expand.loc[steps_expand.recipe_id==2, "step_order"] = steps_expand[steps_expand.recipe_id==2].reset_index().index + 1

In [250]:
steps_expand

,steps,recipe_id,step_order
0,"Slice French bread into 20 slices, 1-inch each...",1,1
1,"The next day, preheat oven to 350 degrees F.",1,2
2,Spread Praline Topping evenly over the bread a...,1,3
3,Combine all ingredients in a medium bowl and b...,1,4
4,Line the bottom of a 13 by 9 by 2-inch dish wi...,2,1
5,"In a bowl, combine the milk and pudding mix an...",2,2
6,Preheat oven to 350 degrees F.,3,1
7,"Combine the cake mix, egg, and butter and mix ...",3,2
8,"To make the filling: In a large bowl, beat the...",3,3
9,Serve with fresh whipped cream.,3,4
10,Variations: For a Pineapple Gooey Cake: Instea...,3,5
11,For a Banana Gooey Cake: Prepare cream cheese ...,3,6
12,For a Peanut Butter Gooey Cake: Use a chocolat...,3,7
13,Preheat oven to 350 degrees F.,4,1
14,"In a large bowl, stir together the 2 cans of c...",4,2
15,Season the chicken with 1/2 teaspoon salt and ...,5,1
16,"Keeping the same pan over medium heat, add the...",5,2
17,"If serving immediately, add the capers and the...",5,3
18,Preheat oven to 375 degrees F.,6,1
19,Mix all meatloaf ingredients well and place in...,6,2
20,Topping:,6,3
21,Mix ingredients for topping and spread on loaf...,6,4
22,Melt the butter in a 2-quart saucepan over low...,7,1
23,"Sift together the flour, salt and baking soda ...",7,2
24,"Meanwhile, whisk together the whole egg, the e...",7,3
25,"Using the paper plate as a slide, gradually in...",7,4
26,Preheat the oven to 375 degrees F and place ra...,7,5
27,Scoop the dough into 1 1/2-ounce portions onto...,7,6
28,Preheat the oven to 350 degrees F.,8,1
29,Place the chicken breasts on a baking sheet an...,8,2
...,...,...,...
26459,Preheat oven to 375 degrees F.,6645,1
26460,"Cut the tops off the tomatoes and, using a spo...",6645,2
26461,Preheat the oven to 400 degrees F.,6646,1
26462,"Place the sweet potatoes on a baking sheet, pu...",6646,2
26463,"In a large skillet, heat the olive oil over me...",6646,3
26464,Melt the butter in a large nonstick skillet ov...,6646,4
26465,"In a mixing bowl fitted with a dough hook, pla...",6647,1
26466,Turn machine off. Pour oil down inside of bowl...,6647,2
26467,Preheat oven to 500 degrees F.,6647,3
26468,"If using a pizza stone, place stone in oven on...",6647,4
26469,"To prevent dough from sticking to counter, tur...",6647,5
26470,Bake 10 to 12 minutes or until golden. Roll ou...,6647,6
26471,"In a large mixing bowl, add flour, salt, cream...",6648,1
26472,Filling: This may be made ahead of time! Mash ...,6648,2
26473,"Assembly of pierogis: For each pierogi, place ...",6648,3
26474,Cooking pierogis: Fill a large pot half full w...,6648,4
26475,Frying pierogis: In a large frying pan saute o...,6648,5
26476,Preheat the oven to 425 degrees F. Line a baki...,6649,1
26477,Thoroughly wash and dry the acorn squash. Use ...,6649,2
26478,"In a small dish, mix the salt, chili powder an...",6649,3
26479,Remove the squash from the oven and crack an e...,6649,4
26480,Place the porcini mushrooms in a bowl and cove...,6650,1
26481,Heat the grill to high.,6650,2
26482,Brush the cremini or white button mushroom cap...,6650,3
26483,Remove the porcinis from the soaking liquid an...,6650,4
26484,Brush the bread on the cut side with the remai...,6650,5
26485,Put the eggs in a large pot with a lid. Pour c...,6651,1
26486,Prepare a bowl of ice water. Transfer the cook...,6651,2
26487,Preheat the oven to 375 degrees F (190 degrees...,6652,1
26488,Meanwhile make the topping. Rub the cold butte...,6652,2

In [251]:
steps_expand.shape

(26489, 3)

In [252]:
# write to postgresql db steps table
steps_expand[["steps", "step_order", "recipe_id"]].to_sql(name="steps", con=engine, schema="food", if_exists="append", index=False)

In [253]:
# read back steps table data to make sure insert ok
step_ids = pd.read_sql_query('SELECT * FROM food.steps;', con=engine)

In [254]:
step_ids.head()

,step_id,steps,recipe_id,step_order
0,1,"Slice French bread into 20 slices, 1-inch each...",1,1
1,2,"The next day, preheat oven to 350 degrees F.",1,2
2,3,Spread Praline Topping evenly over the bread a...,1,3
3,4,Combine all ingredients in a medium bowl and b...,1,4
4,5,Line the bottom of a 13 by 9 by 2-inch dish wi...,2,1

## Reviews Data Insert

### User (Reviewer) Data Insert

In [255]:
# split out data for reviews table
recipes_reviews = pd.concat([recipe_ids, data[['reviewBody1', 'reviewer1', 'ratingValue1', 'reviewBody2', 'reviewer2',
       'ratingValue2', 'reviewBody3', 'reviewer3', 'ratingValue3',
       'reviewBody4', 'reviewer4', 'ratingValue4', 'reviewBody5', 'reviewer5',
       'ratingValue5', 'reviewBody6', 'reviewer6', 'ratingValue6',
       'reviewBody7', 'reviewer7', 'ratingValue7', 'reviewBody8', 'reviewer8',
       'ratingValue8', 'reviewBody9', 'reviewer9', 'ratingValue9',
       'reviewBody10', 'reviewer10', 'ratingValue10']]], axis=1)

In [256]:
recipes_reviews.shape

(6652, 37)

In [257]:
recipes_reviews.isnull().sum()

recipe_id        0
title            0
time             0
total_rating     0
yield            0
user_id          0
review_count     0
reviewBody1      0
reviewer1        0
ratingValue1     0
reviewBody2      0
reviewer2        0
ratingValue2     0
reviewBody3      0
reviewer3        0
ratingValue3     0
reviewBody4      0
reviewer4        0
ratingValue4     0
reviewBody5      0
reviewer5        0
ratingValue5     0
reviewBody6      0
reviewer6        0
ratingValue6     0
reviewBody7      0
reviewer7        0
ratingValue7     0
reviewBody8      0
reviewer8        0
ratingValue8     0
reviewBody9      0
reviewer9        0
ratingValue9     0
reviewBody10     0
reviewer10       0
ratingValue10    0
dtype: int64

In [258]:
recipes_reviews.head()

,recipe_id,title,time,total_rating,yield,user_id,review_count,reviewBody1,reviewer1,ratingValue1,...,ratingValue7,reviewBody8,reviewer8,ratingValue8,reviewBody9,reviewer9,ratingValue9,reviewBody10,reviewer10,ratingValue10
0,1,Baked French Toast Casserole with Maple Syrup,9:00:00,4.5,6 to 8 servings,1,2513,I read a lot of the reviews about the saugines...,emsjas,5.0,...,5.0,Thanks for everyone's reviews bc your suggesti...,Anonymous,5.0,This has become a Christmas Brunch tradition a...,tkrepps1,5.0,"The first time I made this, it came out SO sog...",MEKLA07,4.0
1,2,Not Yo' Mama's Banana Pudding,0:30:00,4.9,12 servings,1,2171,I have been making this for work potlucks for ...,malavinder,5.0,...,4.9,Must try.. But I must add this lil note. When ...,Anonymous,4.9,I made this banana pudding . found the same re...,Anonymous,5.0,How well will this dessert stay? I want to mak...,Anonymous,4.9
2,3,Pumpkin Gooey Butter Cakes,1:20:00,4.8,6 to 8 servings,1,2157,How should this be stored? Is it safe to leave...,Anonymous,5.0,...,5.0,What type of pan do you use? Glass or aluminum?,Anonymous,4.8,It would be nice to have the actual recipe for...,Anonymous,4.8,I’ve made this the past few years and it’s alw...,teresa t.,5.0
3,4,Corn Casserole,1:08:00,4.7,6 to 8 servings,1,1689,ok i am a newby... if i am to double this reci...,Mimi M.,4.7,...,4.0,Just made this for Thanksgiving. I doubled the...,Robin W.,5.0,How long would I have to cook it if I wanted t...,Trudy O.,4.7,"Made this for Thanksgiving, Everyone loved it,...",Anonymous,5.0
4,5,Roman-Style Chicken,1:00:00,4.6,6 servings,2,1306,Love this!! Tastes like my mom’s chicken cacc...,tristaneff,5.0,...,5.0,Delicious! and super easy. Used dried herbs as...,trail_jogger,5.0,This is always a hit with everyone. I've been ...,null,4.6,Beyond delicious. I've made this dish several ...,ccbb,5.0

In [259]:
# drop unncessary columns
recipes_reviews.drop(["title", "time", "total_rating", "yield", "user_id", "review_count"], axis=1, inplace=True)

In [260]:
recipes_reviews.head()

,recipe_id,reviewBody1,reviewer1,ratingValue1,reviewBody2,reviewer2,ratingValue2,reviewBody3,reviewer3,ratingValue3,...,ratingValue7,reviewBody8,reviewer8,ratingValue8,reviewBody9,reviewer9,ratingValue9,reviewBody10,reviewer10,ratingValue10
0,1,I read a lot of the reviews about the saugines...,emsjas,5.0,I let this sit in the fridge every Christmas E...,lwasnewski,5.0,I've made this twice now and here's how I like...,Liliana C.,4.0,...,5.0,Thanks for everyone's reviews bc your suggesti...,Anonymous,5.0,This has become a Christmas Brunch tradition a...,tkrepps1,5.0,"The first time I made this, it came out SO sog...",MEKLA07,4.0
1,2,I have been making this for work potlucks for ...,malavinder,5.0,I have made this several times. I have an alte...,knightswhosaynih,5.0,I love this recipe. I have been making it for ...,Anonymous,5.0,...,4.9,Must try.. But I must add this lil note. When ...,Anonymous,4.9,I made this banana pudding . found the same re...,Anonymous,5.0,How well will this dessert stay? I want to mak...,Anonymous,4.9
2,3,How should this be stored? Is it safe to leave...,Anonymous,5.0,Quite possibly the best thing I’ve ever eaten!...,Rachel Spencer,5.0,I love this!!!! I've made it the last 6 years....,Anonymous,5.0,...,5.0,What type of pan do you use? Glass or aluminum?,Anonymous,4.8,It would be nice to have the actual recipe for...,Anonymous,4.8,I’ve made this the past few years and it’s alw...,teresa t.,5.0
3,4,ok i am a newby... if i am to double this reci...,Mimi M.,4.7,how long do you cook it if you double the reci...,Anonymous,4.7,My son is a vegetarian and he and my husband b...,Anonymous,5.0,...,4.0,Just made this for Thanksgiving. I doubled the...,Robin W.,5.0,How long would I have to cook it if I wanted t...,Trudy O.,4.7,"Made this for Thanksgiving, Everyone loved it,...",Anonymous,5.0
4,5,Love this!! Tastes like my mom’s chicken cacc...,tristaneff,5.0,An outstanding authentic Italian tasting gourm...,dbrent1803515365,5.0,AWSOME dish. The only thing I did different is...,Joe Kuhns,5.0,...,5.0,Delicious! and super easy. Used dried herbs as...,trail_jogger,5.0,This is always a hit with everyone. I've been ...,null,4.6,Beyond delicious. I've made this dish several ...,ccbb,5.0

In [264]:
recipes_reviews.tail()

,recipe_id,reviewBody1,reviewer1,ratingValue1,reviewBody2,reviewer2,ratingValue2,reviewBody3,reviewer3,ratingValue3,...,ratingValue7,reviewBody8,reviewer8,ratingValue8,reviewBody9,reviewer9,ratingValue9,reviewBody10,reviewer10,ratingValue10
6647,6648,I don't know Pat but wish I did! Made these fo...,Julie P.,5.0,Thank you all for the wonderful review over th...,pat e.,5.0,Everything turned out perfectly. Wouldn't chan...,Nuka1,5.0,...,5.0,I used a pasta flour instead of the all purpos...,RON S.,5.0,My family is from Hungary and we make Pierogis...,Edes Alizka,5.0,Tasted so close to my mother's recipe of old. ...,JEROME G.,5.0
6648,6649,Saw this on the show today and decided to have...,Anonymous,5.0,"I made this for a Sunday breakfast, and it was...",Donna C.,5.0,Our family was surprised by how delicious the ...,TraciInLA,5.0,...,5.0,I loved this. Very easy and tasty. And I usual...,Evy C.,5.0,Loved the dish! Great recipe! I am definitely ...,Anonymous,5.0,This was a delicious and healthy weekend lunch...,luisa,5.0
6649,6650,I agree with another post in that this recipe ...,holly m.,4.0,I made this on the stove top and broiler and i...,Merri F.,5.0,After watching you show on Thursday morning (C...,MICHELLE R.,5.0,...,4.0,This recipe is fabulous and full of great gril...,BETH W.,5.0,The bottom of the bread burnt before the chees...,Andrea B.,4.0,We loved this so much that I make it every wee...,sherilyne s.,5.0
6650,6651,this was very Eggcelent,stephanie c,5.0,"The baking soda works....the cooking times, ve...",rcollier10_2012,5.0,Easy and reliable hard boiled eggs.,Kelly Langan,5.0,...,5.0,"Thank you , the eggs were perfect ! Thank you .",Anonymous,4.9,perfect,Robert Varner,5.0,"Cooking for 47 years. Thanks to you, I now coo...",Mary Frances Rowley,5.0
6651,6652,This one is a winner!\n\nI started with 1 TBS ...,Jch111,5.0,Made in no time at all with a variety of fruit...,shoedog,5.0,This was amazing!!!! Better than my mama's and...,Jodi M.,5.0,...,5.0,"I've made this a couple of times, and it's a t...",Matthew W.,5.0,When making this recipe please note the self r...,LESLIE G.,4.0,This is a great simple recipe. I used frozen ...,Kimberly K.,5.0

In [289]:
# pull out first set of reviewers
reviewer1 = pd.DataFrame(recipes_reviews.reviewer1)

In [290]:
reviewer1.head()

    reviewer1
0      emsjas
1  malavinder
2   Anonymous
3     Mimi M.
4  tristaneff

In [291]:
# rename column to match with the column for all subsets for concatenation later
reviewer1.rename({"reviewer1":"user_name"}, axis=1, inplace=True)

In [292]:
reviewer1.columns

Index(['user_name'], dtype='object')

In [295]:
# pull out second set of reviewers
reviewer2 = pd.DataFrame(recipes_reviews.reviewer2)

In [296]:
reviewer2.head()

          reviewer2
0        lwasnewski
1  knightswhosaynih
2    Rachel Spencer
3         Anonymous
4  dbrent1803515365

In [297]:
# rename column to match with the column for all subsets for concatenation later
reviewer2.rename({"reviewer2":"user_name"}, axis=1, inplace=True)

In [298]:
reviewer2.columns

Index(['user_name'], dtype='object')

In [299]:
# pull out third set of reviewers
reviewer3 = pd.DataFrame(recipes_reviews.reviewer3)

In [300]:
reviewer3.head()

    reviewer3
0  Liliana C.
1   Anonymous
2   Anonymous
3   Anonymous
4   Joe Kuhns

In [301]:
# rename column to match with the column for all subsets for concatenation later
reviewer3.rename({"reviewer3":"user_name"}, axis=1, inplace=True)

In [302]:
reviewer3.columns

Index(['user_name'], dtype='object')

In [303]:
# pull out fourth set of reviewers
reviewer4 = pd.DataFrame(recipes_reviews.reviewer4)

In [304]:
reviewer4.head()

  reviewer4
0  deedee21
1   Greg H.
2     Norah
3    Regina
4   MartaR.

In [305]:
# rename column to match with the column for all subsets for concatenation later
reviewer4.rename({"reviewer4":"user_name"}, axis=1, inplace=True)

In [306]:
reviewer4.columns

Index(['user_name'], dtype='object')

In [307]:
# pull out fifth set of reviewers
reviewer5 = pd.DataFrame(recipes_reviews.reviewer5)

In [308]:
reviewer5.head()

   reviewer5
0  Anonymous
1  Claire S.
2   Susan T.
3  Anonymous
4  Bertha P.

In [309]:
# rename column to match with the column for all subsets for concatenation later
reviewer5.rename({"reviewer5":"user_name"}, axis=1, inplace=True)

In [310]:
reviewer5.columns

Index(['user_name'], dtype='object')

In [311]:
# pull out sixth set of reviewers
reviewer6 = pd.DataFrame(recipes_reviews.reviewer6)

In [312]:
reviewer6.head()

     reviewer6
0    Anonymous
1      Beth J.
2  elaine16127
3     Wendy S.
4     glory m.

In [313]:
# rename column to match with the column for all subsets for concatenation later
reviewer6.rename({"reviewer6":"user_name"}, axis=1, inplace=True)

In [314]:
reviewer6.columns

Index(['user_name'], dtype='object')

In [315]:
# pull out seventh set of reviewers
reviewer7 = pd.DataFrame(recipes_reviews.reviewer7)

In [316]:
reviewer7.head()

    reviewer7
0   justin b.
1   Anonymous
2     Lisa F.
3   Anonymous
4  Barbara W.

In [317]:
# rename column to match with the column for all subsets for concatenation later
reviewer7.rename({"reviewer7":"user_name"}, axis=1, inplace=True)

In [318]:
reviewer7.columns

Index(['user_name'], dtype='object')

In [319]:
# pull out eighth set of reviewers
reviewer8 = pd.DataFrame(recipes_reviews.reviewer8)

In [320]:
reviewer8.head()

      reviewer8
0     Anonymous
1     Anonymous
2     Anonymous
3      Robin W.
4  trail_jogger

In [321]:
# rename column to match with the column for all subsets for concatenation later
reviewer8.rename({"reviewer8":"user_name"}, axis=1, inplace=True)

In [322]:
reviewer8.columns

Index(['user_name'], dtype='object')

In [323]:
# pull out ninth set of reviewers
reviewer9 = pd.DataFrame(recipes_reviews.reviewer9)

In [324]:
reviewer9.head()

   reviewer9
0   tkrepps1
1  Anonymous
2  Anonymous
3   Trudy O.
4       null

In [325]:
# rename column to match with the column for all subsets for concatenation later
reviewer9.rename({"reviewer9":"user_name"}, axis=1, inplace=True)

In [326]:
reviewer9.columns

Index(['user_name'], dtype='object')

In [327]:
# pull out tenth set of reviewers
reviewer10 = pd.DataFrame(recipes_reviews.reviewer10)

In [328]:
reviewer10.head()

  reviewer10
0    MEKLA07
1  Anonymous
2  teresa t.
3  Anonymous
4       ccbb

In [329]:
# rename column to match with the column for all subsets for concatenation later
reviewer10.rename({"reviewer10":"user_name"}, axis=1, inplace=True)

In [330]:
reviewer10.columns

Index(['user_name'], dtype='object')

In [331]:
# concat all the subset reviewer tables together
reviewers = pd.concat([reviewer1, reviewer2, reviewer3, reviewer4, reviewer5, reviewer6, reviewer7, reviewer8, reviewer9, reviewer10], axis=0)

In [332]:
reviewers.shape

(66520, 1)

In [333]:
reviewers.head()

    user_name
0      emsjas
1  malavinder
2   Anonymous
3     Mimi M.
4  tristaneff

In [334]:
reviewers.tail()

                user_name
6647            JEROME G.
6648                luisa
6649         sherilyne s.
6650  Mary Frances Rowley
6651          Kimberly K.

In [335]:
reviewers.isnull().sum()

user_name    0
dtype: int64

In [337]:
reviewers.drop_duplicates(subset=["user_name"], inplace=True)

In [338]:
reviewers.shape

(25458, 1)

In [339]:
# write to postgresql db users table
reviewers[["user_name"]].to_sql(name="users", con=engine, schema="food", if_exists="append", index=False)

In [340]:
# read back steps table data to make sure insert ok
reviewer_ids = pd.read_sql_query('SELECT * FROM food.users;', con=engine)

In [341]:
reviewer_ids.tail()

       user_id        user_name
25564    25565  sabini&amp;keti
25565    25566        jennie b.
25566    25567          BERT F.
25567    25568        JEROME G.
25568    25569            luisa

### Review Data Insert

In [343]:
recipes_reviews.head()

,recipe_id,reviewBody1,reviewer1,ratingValue1,reviewBody2,reviewer2,ratingValue2,reviewBody3,reviewer3,ratingValue3,...,ratingValue7,reviewBody8,reviewer8,ratingValue8,reviewBody9,reviewer9,ratingValue9,reviewBody10,reviewer10,ratingValue10
0,1,I read a lot of the reviews about the saugines...,emsjas,5.0,I let this sit in the fridge every Christmas E...,lwasnewski,5.0,I've made this twice now and here's how I like...,Liliana C.,4.0,...,5.0,Thanks for everyone's reviews bc your suggesti...,Anonymous,5.0,This has become a Christmas Brunch tradition a...,tkrepps1,5.0,"The first time I made this, it came out SO sog...",MEKLA07,4.0
1,2,I have been making this for work potlucks for ...,malavinder,5.0,I have made this several times. I have an alte...,knightswhosaynih,5.0,I love this recipe. I have been making it for ...,Anonymous,5.0,...,4.9,Must try.. But I must add this lil note. When ...,Anonymous,4.9,I made this banana pudding . found the same re...,Anonymous,5.0,How well will this dessert stay? I want to mak...,Anonymous,4.9
2,3,How should this be stored? Is it safe to leave...,Anonymous,5.0,Quite possibly the best thing I’ve ever eaten!...,Rachel Spencer,5.0,I love this!!!! I've made it the last 6 years....,Anonymous,5.0,...,5.0,What type of pan do you use? Glass or aluminum?,Anonymous,4.8,It would be nice to have the actual recipe for...,Anonymous,4.8,I’ve made this the past few years and it’s alw...,teresa t.,5.0
3,4,ok i am a newby... if i am to double this reci...,Mimi M.,4.7,how long do you cook it if you double the reci...,Anonymous,4.7,My son is a vegetarian and he and my husband b...,Anonymous,5.0,...,4.0,Just made this for Thanksgiving. I doubled the...,Robin W.,5.0,How long would I have to cook it if I wanted t...,Trudy O.,4.7,"Made this for Thanksgiving, Everyone loved it,...",Anonymous,5.0
4,5,Love this!! Tastes like my mom’s chicken cacc...,tristaneff,5.0,An outstanding authentic Italian tasting gourm...,dbrent1803515365,5.0,AWSOME dish. The only thing I did different is...,Joe Kuhns,5.0,...,5.0,Delicious! and super easy. Used dried herbs as...,trail_jogger,5.0,This is always a hit with everyone. I've been ...,null,4.6,Beyond delicious. I've made this dish several ...,ccbb,5.0

In [344]:
# pull out first set of reviews
reviews1 = recipes_reviews[["recipe_id", "reviewBody1", "reviewer1", "ratingValue1"]]

In [345]:
reviews1.head()

,recipe_id,reviewBody1,reviewer1,ratingValue1
0,1,I read a lot of the reviews about the saugines...,emsjas,5.0
1,2,I have been making this for work potlucks for ...,malavinder,5.0
2,3,How should this be stored? Is it safe to leave...,Anonymous,5.0
3,4,ok i am a newby... if i am to double this reci...,Mimi M.,4.7
4,5,Love this!! Tastes like my mom’s chicken cacc...,tristaneff,5.0

In [346]:
# merge reviewer_ids to first set of reviews data
reviews1 = reviews1.merge(reviewer_ids, left_on="reviewer1", right_on="user_name", how="left")

In [347]:
reviews1.head()

,recipe_id,reviewBody1,reviewer1,ratingValue1,user_id,user_name
0,1,I read a lot of the reviews about the saugines...,emsjas,5.0,112,emsjas
1,2,I have been making this for work potlucks for ...,malavinder,5.0,113,malavinder
2,3,How should this be stored? Is it safe to leave...,Anonymous,5.0,114,Anonymous
3,4,ok i am a newby... if i am to double this reci...,Mimi M.,4.7,115,Mimi M.
4,5,Love this!! Tastes like my mom’s chicken cacc...,tristaneff,5.0,116,tristaneff

In [389]:
# rename column names so they match with those of the other tables for concatenation
reviews1.rename({"reviewBody1":"review", "reviewer1":"reviewer", "ratingValue1":"rating"}, axis=1, inplace=True)

In [390]:
reviews1.head()

,recipe_id,review,reviewer,rating,user_id,user_name
0,1,I read a lot of the reviews about the saugines...,emsjas,5.0,112,emsjas
1,2,I have been making this for work potlucks for ...,malavinder,5.0,113,malavinder
2,3,How should this be stored? Is it safe to leave...,Anonymous,5.0,114,Anonymous
3,4,ok i am a newby... if i am to double this reci...,Mimi M.,4.7,115,Mimi M.
4,5,Love this!! Tastes like my mom’s chicken cacc...,tristaneff,5.0,116,tristaneff

In [348]:
# pull out second set of reviews
reviews2 = recipes_reviews[["recipe_id", "reviewBody2", "reviewer2", "ratingValue2"]]

In [349]:
reviews2.head()

,recipe_id,reviewBody2,reviewer2,ratingValue2
0,1,I let this sit in the fridge every Christmas E...,lwasnewski,5.0
1,2,I have made this several times. I have an alte...,knightswhosaynih,5.0
2,3,Quite possibly the best thing I’ve ever eaten!...,Rachel Spencer,5.0
3,4,how long do you cook it if you double the reci...,Anonymous,4.7
4,5,An outstanding authentic Italian tasting gourm...,dbrent1803515365,5.0

In [350]:
# merge reviewer_ids to second set of reviews data
reviews2 = reviews2.merge(reviewer_ids, left_on="reviewer2", right_on="user_name", how="left")

In [351]:
reviews2.head()

,recipe_id,reviewBody2,reviewer2,ratingValue2,user_id,user_name
0,1,I let this sit in the fridge every Christmas E...,lwasnewski,5.0,4251,lwasnewski
1,2,I have made this several times. I have an alte...,knightswhosaynih,5.0,4252,knightswhosaynih
2,3,Quite possibly the best thing I’ve ever eaten!...,Rachel Spencer,5.0,4253,Rachel Spencer
3,4,how long do you cook it if you double the reci...,Anonymous,4.7,114,Anonymous
4,5,An outstanding authentic Italian tasting gourm...,dbrent1803515365,5.0,4254,dbrent1803515365

In [391]:
# rename column names so they match with those of the other tables for concatenation
reviews2.rename({"reviewBody2":"review", "reviewer2":"reviewer", "ratingValue2":"rating"}, axis=1, inplace=True)

In [392]:
reviews2.head()

,recipe_id,review,reviewer,rating,user_id,user_name
0,1,I let this sit in the fridge every Christmas E...,lwasnewski,5.0,4251,lwasnewski
1,2,I have made this several times. I have an alte...,knightswhosaynih,5.0,4252,knightswhosaynih
2,3,Quite possibly the best thing I’ve ever eaten!...,Rachel Spencer,5.0,4253,Rachel Spencer
3,4,how long do you cook it if you double the reci...,Anonymous,4.7,114,Anonymous
4,5,An outstanding authentic Italian tasting gourm...,dbrent1803515365,5.0,4254,dbrent1803515365

In [352]:
# pull out first set of reviews
reviews3 = recipes_reviews[["recipe_id", "reviewBody3", "reviewer3", "ratingValue3"]]

In [353]:
reviews3.head()

,recipe_id,reviewBody3,reviewer3,ratingValue3
0,1,I've made this twice now and here's how I like...,Liliana C.,4.0
1,2,I love this recipe. I have been making it for ...,Anonymous,5.0
2,3,I love this!!!! I've made it the last 6 years....,Anonymous,5.0
3,4,My son is a vegetarian and he and my husband b...,Anonymous,5.0
4,5,AWSOME dish. The only thing I did different is...,Joe Kuhns,5.0

In [354]:
# merge reviewer_ids to third set of reviews data
reviews3 = reviews3.merge(reviewer_ids, left_on="reviewer3", right_on="user_name", how="left")

In [355]:
reviews3.head()

,recipe_id,reviewBody3,reviewer3,ratingValue3,user_id,user_name
0,1,I've made this twice now and here's how I like...,Liliana C.,4.0,7643,Liliana C.
1,2,I love this recipe. I have been making it for ...,Anonymous,5.0,114,Anonymous
2,3,I love this!!!! I've made it the last 6 years....,Anonymous,5.0,114,Anonymous
3,4,My son is a vegetarian and he and my husband b...,Anonymous,5.0,114,Anonymous
4,5,AWSOME dish. The only thing I did different is...,Joe Kuhns,5.0,7644,Joe Kuhns

In [393]:
# rename column names so they match with those of the other tables for concatenation
reviews3.rename({"reviewBody3":"review", "reviewer3":"reviewer", "ratingValue3":"rating"}, axis=1, inplace=True)

In [394]:
reviews3.columns

Index(['recipe_id', 'review', 'reviewer', 'rating', 'user_id', 'user_name'], dtype='object')

In [356]:
# pull out first set of reviews
reviews4 = recipes_reviews[["recipe_id", "reviewBody4", "reviewer4", "ratingValue4"]]

In [357]:
reviews4.head()

,recipe_id,reviewBody4,reviewer4,ratingValue4
0,1,For everyone who states it comes out soggy. Re...,deedee21,5.0
1,2,Absolutely delicious and fun to make with my w...,Greg H.,5.0
2,3,"I've made these 4 times now. Every time, peopl...",Norah,4.8
3,4,"I have made this for many years, always doubli...",Regina,5.0
4,5,The sauce is so tasty I could drink it and the...,MartaR.,5.0

In [358]:
# merge reviewer_ids to first set of reviews data
reviews4 = reviews4.merge(reviewer_ids, left_on="reviewer4", right_on="user_name", how="left")

In [359]:
reviews4.head()

,recipe_id,reviewBody4,reviewer4,ratingValue4,user_id,user_name
0,1,For everyone who states it comes out soggy. Re...,deedee21,5.0,10606,deedee21
1,2,Absolutely delicious and fun to make with my w...,Greg H.,5.0,7933,Greg H.
2,3,"I've made these 4 times now. Every time, peopl...",Norah,4.8,10607,Norah
3,4,"I have made this for many years, always doubli...",Regina,5.0,10608,Regina
4,5,The sauce is so tasty I could drink it and the...,MartaR.,5.0,10609,MartaR.

In [395]:
# rename column names so they match with those of the other tables for concatenation
reviews4.rename({"reviewBody4":"review", "reviewer4":"reviewer", "ratingValue4":"rating"}, axis=1, inplace=True)

In [396]:
reviews4.columns

Index(['recipe_id', 'review', 'reviewer', 'rating', 'user_id', 'user_name'], dtype='object')

In [360]:
# pull out first set of reviews
reviews5 = recipes_reviews[["recipe_id", "reviewBody5", "reviewer5", "ratingValue5"]]

In [361]:
reviews5.head()

,recipe_id,reviewBody5,reviewer5,ratingValue5
0,1,I made this same-day and found it to be perfec...,Anonymous,5.0
1,2,I made Paula's banana pudding a few years back...,Claire S.,5.0
2,3,I make this every year. DEFINITELY reduce the ...,Susan T.,5.0
3,4,To those of you that can't get the butter thin...,Anonymous,4.7
4,5,Made this and sent leftovers to my Italian fat...,Bertha P.,5.0

In [362]:
# merge reviewer_ids to first set of reviews data
reviews5 = reviews5.merge(reviewer_ids, left_on="reviewer5", right_on="user_name", how="left")

In [363]:
reviews5.head()

,recipe_id,reviewBody5,reviewer5,ratingValue5,user_id,user_name
0,1,I made this same-day and found it to be perfec...,Anonymous,5.0,114,Anonymous
1,2,I made Paula's banana pudding a few years back...,Claire S.,5.0,11886,Claire S.
2,3,I make this every year. DEFINITELY reduce the ...,Susan T.,5.0,11131,Susan T.
3,4,To those of you that can't get the butter thin...,Anonymous,4.7,114,Anonymous
4,5,Made this and sent leftovers to my Italian fat...,Bertha P.,5.0,13265,Bertha P.

In [397]:
# rename column names so they match with those of the other tables for concatenation
reviews5.rename({"reviewBody5":"review", "reviewer5":"reviewer", "ratingValue5":"rating"}, axis=1, inplace=True)

In [398]:
reviews5.columns

Index(['recipe_id', 'review', 'reviewer', 'rating', 'user_id', 'user_name'], dtype='object')

In [364]:
# pull out first set of reviews
reviews6 = recipes_reviews[["recipe_id", "reviewBody6", "reviewer6", "ratingValue6"]]

In [365]:
reviews6.head()

,recipe_id,reviewBody6,reviewer6,ratingValue6
0,1,I’d like to make this but I have a question. H...,Anonymous,5.0
1,2,Someone brought this to a potluck at work and ...,Beth J.,5.0
2,3,We don't even make pumpkin pie anymore since I...,elaine16127,5.0
3,4,I made this last year as one of my Thanksgivin...,Wendy S.,5.0
4,5,I cannot say enough about this recipe. I made...,glory m.,4.6

In [366]:
# merge reviewer_ids to first set of reviews data
reviews6 = reviews6.merge(reviewer_ids, left_on="reviewer6", right_on="user_name", how="left")

In [367]:
reviews6.head()

,recipe_id,reviewBody6,reviewer6,ratingValue6,user_id,user_name
0,1,I’d like to make this but I have a question. H...,Anonymous,5.0,114,Anonymous
1,2,Someone brought this to a potluck at work and ...,Beth J.,5.0,15714,Beth J.
2,3,We don't even make pumpkin pie anymore since I...,elaine16127,5.0,15715,elaine16127
3,4,I made this last year as one of my Thanksgivin...,Wendy S.,5.0,3442,Wendy S.
4,5,I cannot say enough about this recipe. I made...,glory m.,4.6,352,glory m.

In [399]:
# rename column names so they match with those of the other tables for concatenation
reviews6.rename({"reviewBody6":"review", "reviewer6":"reviewer", "ratingValue6":"rating"}, axis=1, inplace=True)

In [400]:
reviews6.columns

Index(['recipe_id', 'review', 'reviewer', 'rating', 'user_id', 'user_name'], dtype='object')

In [368]:
# pull out first set of reviews
reviews7 = recipes_reviews[["recipe_id", "reviewBody7", "reviewer7", "ratingValue7"]]

In [369]:
reviews7.head()

,recipe_id,reviewBody7,reviewer7,ratingValue7
0,1,"I made crispy maple bacon, cut it up then adde...",justin b.,5.0
1,2,I've made this several times. I like to use fr...,Anonymous,4.9
2,3,Delicious! Been making this for Thanksgiving f...,Lisa F.,5.0
3,4,My daughter made for Thanksgiving except we ad...,Anonymous,4.0
4,5,"This was delicious, everyone loved it! I did a...",Barbara W.,5.0

In [370]:
# merge reviewer_ids to first set of reviews data
reviews7 = reviews7.merge(reviewer_ids, left_on="reviewer7", right_on="user_name", how="left")

In [371]:
reviews7.head()

,recipe_id,reviewBody7,reviewer7,ratingValue7,user_id,user_name
0,1,"I made crispy maple bacon, cut it up then adde...",justin b.,5.0,17272,justin b.
1,2,I've made this several times. I like to use fr...,Anonymous,4.9,114,Anonymous
2,3,Delicious! Been making this for Thanksgiving f...,Lisa F.,5.0,6142,Lisa F.
3,4,My daughter made for Thanksgiving except we ad...,Anonymous,4.0,114,Anonymous
4,5,"This was delicious, everyone loved it! I did a...",Barbara W.,5.0,10387,Barbara W.

In [401]:
# rename column names so they match with those of the other tables for concatenation
reviews7.rename({"reviewBody7":"review", "reviewer7":"reviewer", "ratingValue7":"rating"}, axis=1, inplace=True)

In [402]:
reviews7.columns

Index(['recipe_id', 'review', 'reviewer', 'rating', 'user_id', 'user_name'], dtype='object')

In [372]:
# pull out first set of reviews
reviews8 = recipes_reviews[["recipe_id", "reviewBody8", "reviewer8", "ratingValue8"]]

In [373]:
reviews8.head()

,recipe_id,reviewBody8,reviewer8,ratingValue8
0,1,Thanks for everyone's reviews bc your suggesti...,Anonymous,5.0
1,2,Must try.. But I must add this lil note. When ...,Anonymous,4.9
2,3,What type of pan do you use? Glass or aluminum?,Anonymous,4.8
3,4,Just made this for Thanksgiving. I doubled the...,Robin W.,5.0
4,5,Delicious! and super easy. Used dried herbs as...,trail_jogger,5.0

In [374]:
# merge reviewer_ids to first set of reviews data
reviews8 = reviews8.merge(reviewer_ids, left_on="reviewer8", right_on="user_name", how="left")

In [375]:
reviews8.head()

,recipe_id,reviewBody8,reviewer8,ratingValue8,user_id,user_name
0,1,Thanks for everyone's reviews bc your suggesti...,Anonymous,5.0,114,Anonymous
1,2,Must try.. But I must add this lil note. When ...,Anonymous,4.9,114,Anonymous
2,3,What type of pan do you use? Glass or aluminum?,Anonymous,4.8,114,Anonymous
3,4,Just made this for Thanksgiving. I doubled the...,Robin W.,5.0,3026,Robin W.
4,5,Delicious! and super easy. Used dried herbs as...,trail_jogger,5.0,20110,trail_jogger

In [403]:
# rename column names so they match with those of the other tables for concatenation
reviews8.rename({"reviewBody8":"review", "reviewer8":"reviewer", "ratingValue8":"rating"}, axis=1, inplace=True)

In [404]:
reviews8.columns

Index(['recipe_id', 'review', 'reviewer', 'rating', 'user_id', 'user_name'], dtype='object')

In [376]:
# pull out first set of reviews
reviews9 = recipes_reviews[["recipe_id", "reviewBody9", "reviewer9", "ratingValue9"]]

In [377]:
reviews9.head()

,recipe_id,reviewBody9,reviewer9,ratingValue9
0,1,This has become a Christmas Brunch tradition a...,tkrepps1,5.0
1,2,I made this banana pudding . found the same re...,Anonymous,5.0
2,3,It would be nice to have the actual recipe for...,Anonymous,4.8
3,4,How long would I have to cook it if I wanted t...,Trudy O.,4.7
4,5,This is always a hit with everyone. I've been ...,null,4.6

In [379]:
# merge reviewer_ids to first set of reviews data
reviews9 = reviews9.merge(reviewer_ids, left_on="reviewer9", right_on="user_name", how="left")

In [380]:
reviews9.head()

,recipe_id,reviewBody9,reviewer9,ratingValue9,user_id,user_name
0,1,This has become a Christmas Brunch tradition a...,tkrepps1,5.0,22122,tkrepps1
1,2,I made this banana pudding . found the same re...,Anonymous,5.0,114,Anonymous
2,3,It would be nice to have the actual recipe for...,Anonymous,4.8,114,Anonymous
3,4,How long would I have to cook it if I wanted t...,Trudy O.,4.7,22123,Trudy O.
4,5,This is always a hit with everyone. I've been ...,null,4.6,5417,null

In [405]:
# rename column names so they match with those of the other tables for concatenation
reviews9.rename({"reviewBody9":"review", "reviewer9":"reviewer", "ratingValue9":"rating"}, axis=1, inplace=True)

In [406]:
reviews9.columns

Index(['recipe_id', 'review', 'reviewer', 'rating', 'user_id', 'user_name'], dtype='object')

In [382]:
# pull out first set of reviews
reviews10 = recipes_reviews[["recipe_id", "reviewBody10", "reviewer10", "ratingValue10"]]

In [383]:
reviews10.head()

,recipe_id,reviewBody10,reviewer10,ratingValue10
0,1,"The first time I made this, it came out SO sog...",MEKLA07,4.0
1,2,How well will this dessert stay? I want to mak...,Anonymous,4.9
2,3,I’ve made this the past few years and it’s alw...,teresa t.,5.0
3,4,"Made this for Thanksgiving, Everyone loved it,...",Anonymous,5.0
4,5,Beyond delicious. I've made this dish several ...,ccbb,5.0

In [384]:
# merge reviewer_ids to first set of reviews data
reviews10 = reviews10.merge(reviewer_ids, left_on="reviewer10", right_on="user_name", how="left")

In [385]:
reviews10.head()

,recipe_id,reviewBody10,reviewer10,ratingValue10,user_id,user_name
0,1,"The first time I made this, it came out SO sog...",MEKLA07,4.0,23869,MEKLA07
1,2,How well will this dessert stay? I want to mak...,Anonymous,4.9,114,Anonymous
2,3,I’ve made this the past few years and it’s alw...,teresa t.,5.0,3233,teresa t.
3,4,"Made this for Thanksgiving, Everyone loved it,...",Anonymous,5.0,114,Anonymous
4,5,Beyond delicious. I've made this dish several ...,ccbb,5.0,23870,ccbb

In [407]:
# rename column names so they match with those of the other tables for concatenation
reviews10.rename({"reviewBody10":"review", "reviewer10":"reviewer", "ratingValue10":"rating"}, axis=1, inplace=True)

In [408]:
reviews10.columns

Index(['recipe_id', 'review', 'reviewer', 'rating', 'user_id', 'user_name'], dtype='object')

In [409]:
# concat all tables together
reviews = pd.concat([reviews1, reviews2, reviews3, reviews4, reviews5, reviews6, reviews7, reviews8, reviews9, reviews10], axis=0, sort=False)

In [410]:
reviews.shape

(66523, 6)

In [411]:
reviews.head()

,recipe_id,review,reviewer,rating,user_id,user_name
0,1,I read a lot of the reviews about the saugines...,emsjas,5.0,112,emsjas
1,2,I have been making this for work potlucks for ...,malavinder,5.0,113,malavinder
2,3,How should this be stored? Is it safe to leave...,Anonymous,5.0,114,Anonymous
3,4,ok i am a newby... if i am to double this reci...,Mimi M.,4.7,115,Mimi M.
4,5,Love this!! Tastes like my mom’s chicken cacc...,tristaneff,5.0,116,tristaneff

In [413]:
reviews.tail()

,recipe_id,review,reviewer,rating,user_id,user_name
6647,6648,Tasted so close to my mother's recipe of old. ...,JEROME G.,5.0,25568,JEROME G.
6648,6649,This was a delicious and healthy weekend lunch...,luisa,5.0,25569,luisa
6649,6650,We loved this so much that I make it every wee...,sherilyne s.,5.0,10227,sherilyne s.
6650,6651,"Cooking for 47 years. Thanks to you, I now coo...",Mary Frances Rowley,5.0,1337,Mary Frances Rowley
6651,6652,This is a great simple recipe. I used frozen ...,Kimberly K.,5.0,10866,Kimberly K.

In [412]:
reviews.isnull().sum()

recipe_id    0
review       0
reviewer     0
rating       0
user_id      0
user_name    0
dtype: int64

In [415]:
# drop columns not in reviews sql table to prepare for insert into postgres
reviews.drop(["reviewer", "user_name"], axis=1, inplace=True)

In [416]:
reviews.columns

Index(['recipe_id', 'review', 'rating', 'user_id'], dtype='object')

In [417]:
# write to postgresql db reviews table
reviews[['recipe_id', 'review', 'rating', 'user_id']].to_sql(name="reviews", con=engine, schema="food", if_exists="append", index=False)

In [418]:
# read back reviews table data to make sure insert ok
review_ids = pd.read_sql_query('SELECT * FROM food.reviews;', con=engine)

In [419]:
review_ids.head()

,review_id,review,rating,user_id,recipe_id
0,7,I read a lot of the reviews about the saugines...,5.0,112,1
1,8,I have been making this for work potlucks for ...,5.0,113,2
2,9,How should this be stored? Is it safe to leave...,5.0,114,3
3,10,ok i am a newby... if i am to double this reci...,4.7,115,4
4,11,Love this!! Tastes like my mom’s chicken cacc...,5.0,116,5

# Save DataFrames

In [420]:
# # pickle dfs
# user_ids.to_pickle("./data/foodnetwork_user_ids.pkl")
# recipe_ids.to_pickle("./data/foodnetwork_recipe_ids.pkl")
# tag_ids.to_pickle("./data/foodnetwork_tag_ids.pkl")
# recipe_tag_ids.to_pickle("./data/foodnetwork_recipetag_ids.pkl")
# step_ids.to_pickle("./data/foodnetwork_step_ids.pkl")
# reviewer_ids.to_pickle("./data/foodnetwork_reviewer_ids.pkl")
# review_ids.to_pickle("./data/foodnetwork_review_ids.pkl")